<!DOCTYPE HTML>
<html>
	<head>
		<title>AI For Science</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="first">
								<div class="content span-7">
									<h2 class="major">Welcome  {% if status %}
																				{{status.upper()}}
																		{% endif %} !
									</h2>
									<p>Based on our AI model, we have opened this session for you .</p>
									<ul class="actions">
										<li>
											<a href="/"  class="button primary color1 circle ">
												<span class="icon solid fa-angle-left"></span>
												Back Home 
										    </a>
										</li>
									</ul>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="images/pic02.jpg" alt="" />
								</div>
							</section>


						<!-- Copyright -->
							<div class="copyright">&copy; AI for Science. By: <a href="https://www.oussama-batouche.tk" >BATOUCHE</a>.</div>

					</div>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>